h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
.week-timetable {
    margin-left: 10px;
    margin-right: 10px;
}
.timetable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 5px;
}
.day {
    background-color: blue;
    border: 3px solid black;
    border-radius: 20px;
    color: white;
    height: 200px;
    width: 200px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;
}
